#{Directory setCurrentWorkingDirectory(Directory with(Docio templatePath) path); ""}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>#{Docio packageName} Reference</title>
        <meta name="description" content="#{Docio packageName} Reference">
        <meta name="author" content="#{User name}">
        <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
    </head>

    <body>
        <!-- <script src="js/scripts.js"></script> -->
        <ol>
        #{doFile("main.io")}
        </ol>
    </body>
</html>
