#{Directory setCurrentWorkingDirectory(Directory with(Docio templatePath) path); ""}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>#{Docio packageName} Reference</title>
        <meta name="description" content="#{Docio packageName} Reference">
        <meta name="author" content="#{User name}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="uikit-3.0.0-beta.35/css/uikit.min.css" />
        <script src="uikit-3.0.0-beta.35/js/uikit.min.js"></script>
        <script src="uikit-3.0.0-beta.35/js/uikit-icons.min.js"></script>
    </head>

    <body>
        <ul>
            #{doFile("main.io")}
        </ul>
    </body>
</html>
